* {
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

body::after {
  content: '';
  height: 1px;
  display: block;
}

body.spring { background-image: url(../images/backgrounds/bgr-spring-small.png); }
body.summer { background-image: url(../images/backgrounds/bgr-summer-small.png); }
body.autumn { background-image: url(../images/backgrounds/bgr-autumn-small.png); }
body.winter { background-image: url(../images/backgrounds/bgr-winter-small.png); }

.fancybox__backdrop {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.fancybox__content>.carousel__button {
  display: none !important;
}

body.spring .fancybox__backdrop { background-image: url(../images/backgrounds/sky-spring-small.png); }
body.summer .fancybox__backdrop { background-image: url(../images/backgrounds/sky-summer-small.png); }
body.autumn .fancybox__backdrop { background-image: url(../images/backgrounds/sky-autumn-small.png); }
body.winter .fancybox__backdrop { background-image: url(../images/backgrounds/sky-winter-small.png); }

.preload-backgrounds {
  background-image:
    url(../images/backgrounds/bgr-spring-small.png),
    url(../images/backgrounds/bgr-summer-small.png),
    url(../images/backgrounds/bgr-autumn-small.png),
    url(../images/backgrounds/bgr-winter-small.png),
    url(../images/backgrounds/bgr-spring-big.png),
    url(../images/backgrounds/bgr-summer-big.png),
    url(../images/backgrounds/bgr-autumn-big.png),
    url(../images/backgrounds/bgr-winter-big.png);
}

canvas {
}

.main-nav {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #000;
  display: flex;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.main-nav a {
  color: #000;
  text-decoration: none;
}

.main-nav a:hover {
  color: #00a3c0;
  text-decoration: none;
}

.main-nav-instead {
  height: 50px;
}

.main-nav .logo {
  background-image: url(../images/logo-grad.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  margin: 0 auto 0 10px;
  width: 40px;
}

.nav-toggle{
  height: 50px;
  margin-left: 20px;
  position: relative;
  width: 50px;
}

.nav-toggle > span{
  background-color: #888;
  border-radius: 2px;
  display: block;
  height: 4px;
  left: 10px;
  margin: 0 auto;
  position: absolute;
  width: 30px;
}

.nav-toggle > span:nth-child(2){
  top: 24px;
  transition: background .3s;
}

.nav-toggle > span:nth-child(1),
.nav-toggle > span:nth-child(3){
  transition-delay: 0.3s, 0;
  transition-duration: 0.3s, 0.3s;
}

.nav-toggle > span:nth-child(1){
  top: 14px;
  transition-property: top, transform;
}

.nav-toggle > span:nth-child(3) {
  top: 34px;
  transition-property: top, transform;
}
.nav-in .nav-toggle > span:nth-child(2){
  background-color: transparent;
}

.nav-in .nav-toggle > span:nth-child(1) {
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
}
.nav-in .nav-toggle > span:nth-child(3) {
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
}

.nav-in .nav-toggle > span:nth-child(1),
.nav-in .nav-toggle > span:nth-child(3){
  transition-delay: 0, 0.3s;
}

.languages {
  align-items: center;
  background-image: url(../images/icons/angle-black.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 12px auto;
  display: flex;
  font-size: 20px;
  height: 50px;
  position: relative;
  width: 60px;
}

.language-dropdown {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  width: 55px;
}

.languages:hover .language-dropdown {
  display: block;
}

.active-language {
  cursor: pointer;
  padding-left: 16px;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.language-dropdown li {
  line-height: 2;
  padding-left: 16px;
}

.language-dropdown li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

[data-language="cs"],
[data-language="en"],
[data-language="ua"] {
  display: none;
}

[lang="cs"] [data-language="cs"],
[lang="en"] [data-language="en"],
[lang="ua"] [data-language="ua"] {
  display: block;
}

.main-nav-container {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 50px;
  transform: translateX(-101%);
  transition: transform 0.3s;
  width: 224px;
}

.nav-in .main-nav-container {
  transform: translateX(0);
}

.main-nav-items {
  font-size: 18px;
  margin-bottom: 20px;
}

.main-nav-items ul {
}

.main-nav-items li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-nav-items a {
  line-height: 26px;
  padding: 10px 16px;
  display: block;
}

.social-links {
  padding-left: 16px;
}

.social-links ul {
  display: flex;
}

.social-links li {
  margin-right: 12px;
}

.social-links a {
  border-radius: 50%;
  display: block;
  height: 26px;
  position: relative;
  width: 26px;
}

.social-links a::after,
.social-links a::before {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  opacity: 1;
  top: 0;
  transition: all .3s;
}

.social-links a::after {
  opacity: 0;
}

.social-links a:hover::after {
  opacity: 1;
}

.social-links a:hover::before {
  opacity: 0;
}

a.social-facebook::after { background-image: url(../images/icons/facebook.svg); }
a.social-facebook::before { background-image: url(../images/icons/facebook-active.svg); }
a.social-linkedin::after { background-image: url(../images/icons/linkedin.svg); }
a.social-linkedin::before { background-image: url(../images/icons/linkedin-active.svg); }
a.social-instagram::after { background-image: url(../images/icons/instagram.svg); }
a.social-instagram::before { background-image: url(../images/icons/instagram-active.svg); }
a.social-youtube::after { background-image: url(../images/icons/youtube.svg); }
a.social-youtube::before { background-image: url(../images/icons/youtube-active.svg); }

.main-nav-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.nav-in .main-nav-backdrop {
  display: block;
}

.calendar-button {
  margin: 15px auto;
  max-width: 330px;
}

.btn-blue {
  background-color: #00A3C0;
  border: 1px solid #00A3C0;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  color: #fff;
  line-height: 23px;
  padding: 5px 10px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  transition: all .3s;
  font-family: Roboto, sans-serif;
}

.btn-blue:hover {
  background-color: #fff;
  color: #00A3C0;
}

#calendar-items-wrap {
  margin: 0 auto 15px;
  position: relative;
  width: 330px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.slider-item {
  background-color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  height: 140px;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.slider-item-flag {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
  height: 55px;
  margin-bottom: 7px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.slider-item-date {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
}

.slider-item-name {
  align-items: center;
  display: flex;
  font-family: Roboto, sans-serif;
  height: 42px;
  font-size: 11px;
  line-height: 14px;
  overflow: hidden;
}

.slider-item-name > * {
  max-height: 42px;
  width: 100%;
}

#card-detail {
  background-color: #fff;
  padding: 6px;
  border-radius: 5px;
  position: fixed;
  left: 15px;
  top: 65px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  display: none;
  width: 100px;
  color: #000;
}

.detail-card-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 90px;
}

.detail-card-title {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 7px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

#card-detail .btn-blue {
  font-size: 10px;
  padding-left: 3px;
  padding-right: 3px;
}

#detail-full {
  color: #000;
  max-width: 360px;
  padding: 15px;
  width: 100%;
}

.detail-full-content {
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 17px;
}

.detail-full-top {
  display: flex;
  margin-bottom: 23px;
}

.detail-full-top-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 15px;
  max-width: 50%;
  min-width: 50%;
  height: 150px;
}

.detail-full-top-date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-full-top-time {
  background-image: url(../images/icons/clock.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 30px;
  font-size: 10px;
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: 500;
}

.detail-full-top-flag {
  background-image: url(../images/icons/light.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 30px;
  margin-bottom: 10px;
}

.detail-full-top-flag-in {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 32px;
  height: 18px;
}

.detail-full-top-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.max-width-360 {
  max-width: 360px;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-content {
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}

h1 {
}

h2 {
  margin: 0 0 20px;
}

/* * XXSmall devices (landscape phones, 390px and up) * */
@media (min-width: 380px) {
  body {
    background-position: 50% 0%;
  }
}

/* * XSmall devices (landscape phones, 414px and up) * */
@media (min-width: 414px) {

}

/* * Small devices (landscape phones, 540px and up) * */
@media (min-width: 540px) {
  body {
    background-position: 50% 55%;
  }
}

/* * Medium devices (tablets, 768px and up) * */
@media (min-width: 768px) {
  body {
    background-position: 50% 45%;
  }
}

/* * Large devices (desktops, 992px and up) * */
@media (min-width: 992px) {
  body {
    background-position: 50% 45%;
    background-size: cover;
  }

  body.spring { background-image: url(../images/backgrounds/bgr-spring-big.png); }
  body.summer { background-image: url(../images/backgrounds/bgr-summer-big.png); }
  body.autumn { background-image: url(../images/backgrounds/bgr-autumn-big.png); }
  body.winter { background-image: url(../images/backgrounds/bgr-winter-big.png); }

  body.spring .fancybox__backdrop { background-image: url(../images/backgrounds/sky-spring-big.png); }
  body.summer .fancybox__backdrop { background-image: url(../images/backgrounds/sky-summer-big.png); }
  body.autumn .fancybox__backdrop { background-image: url(../images/backgrounds/sky-autumn-big.png); }
  body.winter .fancybox__backdrop { background-image: url(../images/backgrounds/sky-winter-big.png); }

  .main-nav {
    height: 60px;
  }

  .main-nav-instead {
    height: 60px;
  }

  .main-nav .logo {
    background-image: url(../images/logo-full.png);
    width: 192px;
    height: 50px;
  }

  .nav-toggle {
    display: none;
  }

  .languages {
    height: 60px;
    margin: 0 25px 0 35px;
  }

  .main-nav-container {
    background-color: transparent;
    display: block;
    position: static;
    transform: none;
    width: auto;
  }

  .main-nav-items {
    margin: 0;
  }

  .social-links {
    display: none;
  }

  .main-nav-items ul {
    display: flex;
  }

  .main-nav-items li {
    border: none;
  }

  .main-nav-items li + li {
    margin-left: 45px;
  }

  .main-nav-items a {
    padding: 0;
  }

  #calendar-items-wrap {
    margin: 0 auto 20px;
    width: 600px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    width: 50px;
    height: 50px;
    transition: background .3s;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: #fff;
  }

  body.spring .swiper-button-prev:hover,
  body.spring .swiper-button-next:hover {
    background-color: #EB507F;
  }
  body.summer .swiper-button-prev:hover,
  body.summer .swiper-button-next:hover {
    background-color: #76C867;
  }
  body.autumn .swiper-button-prev:hover,
  body.autumn .swiper-button-next:hover {
    background-color: #FBA05E;
  }
  body.winter .swiper-button-prev:hover,
  body.winter .swiper-button-next:hover {
    background-color: #01AECC;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 22px;
  }

  .swiper-button-prev {
    left: -100px;
  }

  .swiper-button-next {
    right: -100px;
  }

  .slider-item-wrap {
    padding: 10px;
  }

  .slider-item:hover {
    box-shadow: 0px 0px 10px 4px rgba(12, 12, 12, 0.4);
  }

  .slider-item {
    padding: 10px;
    border-radius: 10px;
    height: 250px;
  }

  .slider-item-flag {
    border-radius: 8px;
    height: 100px;
    margin-bottom: 15px;
  }

  .slider-item-date {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .slider-item-name {
    font-size: 18px;
    height: 66px;
    line-height: 22px;
  }

  .slider-item-name > * {
    max-height: 66px;
  }

  .calendar-button {
    display: none;
  }

  #card-detail {
    padding: 12px;
    top: 75px;
    width: 255px;
  }

  .detail-card-image {
    margin-bottom: 18px;
    height: 166px;
  }

  .detail-card-title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 13px;
  }

  #card-detail .btn-blue {
    font-size: 18px;
  }
}

/* * Extra large devices (large desktops, 1200px and up) * */
@media (min-width: 1200px) {
  body {
    background-position: 50% 50%;
  }
}
